# Splitting of Dataset

<h2> Importing Libraries </h2>

In [160]:
import pandas as pd
import numpy as np

<h2> Importing Dataset </h2>

In [161]:
df = pd.read_csv("encoded_salary_dataset.csv")

<h2> Dividing into Target and Predictor Variables </h2>

In [162]:
X = df.iloc[:, :-1 ]
y = df.iloc[:,-1]

In [163]:
X,y

(    Australia  Canada  Dubai  USA    Salary  YearsExperience
 0         0.0     0.0    1.0  0.0   39343.0              1.1
 1         0.0     1.0    0.0  0.0   46205.0              1.3
 2         0.0     1.0    0.0  0.0   37731.0              1.5
 3         0.0     1.0    0.0  0.0   43525.0              2.0
 4         0.0     0.0    0.0  1.0   39891.0              2.2
 5         0.0     0.0    1.0  0.0   56642.0              2.9
 6         0.0     1.0    0.0  0.0   60150.0              3.0
 7         1.0     0.0    0.0  0.0   54445.0              3.2
 8         0.0     0.0    1.0  0.0   64445.0              3.2
 9         0.0     0.0    1.0  0.0   57189.0              3.7
 10        0.0     0.0    1.0  0.0   63218.0              3.9
 11        0.0     0.0    0.0  1.0   55794.0              4.0
 12        0.0     0.0    1.0  0.0   56957.0              4.0
 13        0.0     1.0    0.0  0.0   57081.0              4.1
 14        1.0     0.0    0.0  0.0   61111.0              4.5
 15        0.0     0.0    0.0  1.0   67938.0              4.9
 16        0.0     0.0    0.0  1.0   66029.0              5.1
 17        0.0     1.0    0.0  0.0   83088.0              5.3
 18        1.0     0.0    0.0  0.0   81363.0              5.9
 19        0.0     1.0    0.0  0.0   93940.0              6.0
 20        0.0     1.0    0.0  0.0   91738.0              6.8
 21        1.0     0.0    0.0  0.0   98273.0              7.1
 22        1.0     0.0    0.0  0.0  101302.0              7.9
 23        1.0     0.0    0.0  0.0  113812.0              8.2
 24        0.0     0.0    1.0  0.0  109431.0              8.7
 25        1.0     0.0    0.0  0.0  105582.0              9.0
 26        0.0     0.0    1.0  0.0  116969.0              9.5
 27        0.0     0.0    0.0  1.0  112635.0              9.6
 28        0.0     0.0    0.0  1.0  122391.0             10.3
 29        0.0     1.0    0.0  0.0  121872.0             10.5,
 0     0.0
 1     1.0
 2     0.0
 3     0.0
 4     0.0
 5     0.0
 6     1.0
 7     0.0
 8     1.0
 9     0.0
 10    1.0
 11    0.0
 12    1.0
 13    0.0
 14    0.0
 15    0.0
 16    0.0
 17    0.0
 18    1.0
 19    0.0
 20    0.0
 21    0.0
 22    0.0
 23    1.0
 24    0.0
 25    1.0
 26    0.0
 27    1.0
 28    0.0
 29    1.0
 Name: Purchased, dtype: float64)

<h2> Divide Data as Training Set and Testing Set </h2>

In [164]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [165]:
X_test,X_train

(    Australia  Canada  Dubai  USA    Salary  YearsExperience
 27        0.0     0.0    0.0  1.0  112635.0              9.6
 15        0.0     0.0    0.0  1.0   67938.0              4.9
 23        1.0     0.0    0.0  0.0  113812.0              8.2
 17        0.0     1.0    0.0  0.0   83088.0              5.3
 8         0.0     0.0    1.0  0.0   64445.0              3.2
 9         0.0     0.0    1.0  0.0   57189.0              3.7
 28        0.0     0.0    0.0  1.0  122391.0             10.3
 24        0.0     0.0    1.0  0.0  109431.0              8.7
 12        0.0     0.0    1.0  0.0   56957.0              4.0,
     Australia  Canada  Dubai  USA    Salary  YearsExperience
 0         0.0     0.0    1.0  0.0   39343.0              1.1
 4         0.0     0.0    0.0  1.0   39891.0              2.2
 16        0.0     0.0    0.0  1.0   66029.0              5.1
 5         0.0     0.0    1.0  0.0   56642.0              2.9
 13        0.0     1.0    0.0  0.0   57081.0              4.1
 11        0.0     0.0    0.0  1.0   55794.0              4.0
 22        1.0     0.0    0.0  0.0  101302.0              7.9
 1         0.0     1.0    0.0  0.0   46205.0              1.3
 2         0.0     1.0    0.0  0.0   37731.0              1.5
 25        1.0     0.0    0.0  0.0  105582.0              9.0
 3         0.0     1.0    0.0  0.0   43525.0              2.0
 21        1.0     0.0    0.0  0.0   98273.0              7.1
 26        0.0     0.0    1.0  0.0  116969.0              9.5
 18        1.0     0.0    0.0  0.0   81363.0              5.9
 29        0.0     1.0    0.0  0.0  121872.0             10.5
 20        0.0     1.0    0.0  0.0   91738.0              6.8
 7         1.0     0.0    0.0  0.0   54445.0              3.2
 10        0.0     0.0    1.0  0.0   63218.0              3.9
 14        1.0     0.0    0.0  0.0   61111.0              4.5
 19        0.0     1.0    0.0  0.0   93940.0              6.0
 6         0.0     1.0    0.0  0.0   60150.0              3.0)

In [166]:
y_train,y_test

(0     0.0
 4     0.0
 16    0.0
 5     0.0
 13    0.0
 11    0.0
 22    0.0
 1     1.0
 2     0.0
 25    1.0
 3     0.0
 21    0.0
 26    0.0
 18    1.0
 29    1.0
 20    0.0
 7     0.0
 10    1.0
 14    0.0
 19    0.0
 6     1.0
 Name: Purchased, dtype: float64,
 27    1.0
 15    0.0
 23    1.0
 17    0.0
 8     1.0
 9     0.0
 28    0.0
 24    0.0
 12    1.0
 Name: Purchased, dtype: float64)